MavenPractice/GeometryApp/target
MavenPractice/GeometryLibrary/GeometryCore/target
MavenPractice/GeometryLibrary/GeometryUtils/target
MavenPractice/GeometryLibrary/ThreeDimensionalShapes/target

StreamPractice/CollectionMapping/target